body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2b2f77;
  background: -webkit-radial-gradient(
    circle,
    #2b2f77 0%,
    #141852 50%,
    #070b34 100%
  );
  background: radial-gradient(circle, #2b2f77 0%, #141852 50%, #070b34 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
